/Kurssistatistiikka/build/
/Kurssistatistiikka/.gradle/
/Kurssistatistiikka/nbproject/private/
/Kurssistatistiikka/.nb-gradle/
/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/HelloCucumber/.gradle/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/LoginCucumber/.gradle/
/LoginCucumber/private/